{
 :paths ["src/core"]
 :deps
 {
  cheshire/cheshire   {:mvn/version "5.10.0"}
  clj-http/clj-http   {:mvn/version "3.12.1"}
  user.ring/user.ring {:mvn/version "2020.351.49995"}
  }


 :aliases
 {
  :provided
  {:extra-deps
   {
    org.clojure/clojure {:mvn/version "1.10.2"}
    }}


  :test
  {:extra-paths ["src/test"]
   :extra-deps
   {
    rum/rum                    {:mvn/version "0.11.5"}
    ajchemist/github.clj.alpha {:mvn/version "2021.61.27454"}

    org.clojure/tools.cli                       {:mvn/version "1.0.194"}
    org.clojure/tools.deps.alpha                {:mvn/version "0.9.821"}
    user.java.time/user.java.time               {:mvn/version "2020.267.10158"}
    user.tools.deps.alpha/user.tools.deps.alpha {:git/url "https://github.com/aJchemist/user.tools.deps.alpha.git" :sha "1a37f7e9185e524686b58b14ddfe552fefee282e"}
    }}


  :test-runner
  {:extra-deps {com.cognitect/test-runner
                {:git/url "https://github.com/cognitect-labs/test-runner"
                 :sha     "209b64504cb3bd3b99ecfec7937b358a879f55c1"}}
   :main-opts  ["-m" "cognitect.test-runner" "-d" "src/test"]}
  }
 }
