{
 :paths ["src/core"]
 :deps
 {
  cheshire/cheshire   {:mvn/version "5.10.1"}
  clj-http/clj-http   {:mvn/version "3.12.3"}
  user.ring/user.ring {:mvn/version "2020.351.49995"}
  }


 :aliases
 {
  :provided
  {:extra-deps
   {
    org.clojure/clojure {:mvn/version "1.10.3"}
    metosin/reitit      {:mvn/version "0.5.15"}
    ring/ring-core      {:mvn/version "1.9.4"}
    }}


  :test
  {:extra-paths ["src/test"]
   :extra-deps
   {
    io.github.clojure/tools.build {:git/tag "v0.7.5" :git/sha "34727f7"}
    ring/ring-jetty-adapter       {:mvn/version "1.9.4"}
    }}


  :test-runner
  {:extra-deps {io.github.cognitect-labs/test-runner {:git/tag "v0.5.0" :git/sha "b3fd0d2"}}
   :main-opts  ["-m" "cognitect.test-runner" "-d" "src/test"]
   :exec-fn    cognitect.test-runner.api/test
   :exec-args  {:dirs     ["src/test"]
                :excludes [:live]}}


  :github-actions-helper
  {:extra-deps
   {
    rum/rum                              {:mvn/version "0.12.6"}
    io.github.ajchemist/github.clj.alpha {:mvn/version "2021.252.17497"}
    }
   :ns-default github.core.alpha.actions-helper.api}


  :build
  {:deps       {io.github.clojure/tools.build {:git/tag "v0.7.5" :git/sha "34727f7"}
                user.java.time/user.java.time {:mvn/version "2020.267.10158"}}
   :ns-default build.package}


  :maven-tool
  {:extra-deps {io.github.ajchemist/user.apache.maven.alpha {:git/sha "4f70a7a6ed4ab0620c7a0a3a4caf95d33ef916c6"}}
   :ns-default user.apache.maven.api}
  }
 }
